<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Index</h1>
{% if user.is_authenticated %}
<h2>{{ user.username }}</h2>
<h2><a href="{% url 'signature:dashboard' %}">Dashboard</a></h2>
<h2><a href="{% url 'signature:signature' %}">Signature</a></h2>
<h2><a href="{% url 'logout' %}?next={% url 'signature:index' %}">Logout</a></h2>
{% else %}
<h2><a href="{% url 'login' %}">Login</a></h2>
<h2><a href="{% url 'signature:register' %}">Register</a></h2>
{% endif %}

{% block content %}
<h2>Sign up</h2>
<form method="post" action="{% url 'signature:identify' %}">
    {% csrf_token %}
    {% for field in form %}
    Enter signature to identify<br>
    {{ field }}
    {% if field.help_text %}
    <small style="color: grey">{{ field.help_text }}</small>
    {% endif %}
    {% for error in field.errors %}
    <p style="color: red">{{ error }}</p>
    {% endfor %}
    {% endfor %}
    <button type="submit">Identify</button>
</form>
{% endblock %}

</body>
</html>